 <nav id="nav">
        <div class="title">
            <h1>Second Blind Date</h1>
            <img src="/assets/imgs/Logo.png">
        </div>

        <div class="links">
            <ul>
                <li ><a href="/home">Explore</a></li>
                <li><a href="/myProfile">My profile</a></li>
                <li><a href="/matches">Matches</a></li>
               
            </ul>
        </div>
</nav>
 <script src="/javascript/logout.js"></script>