<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
     <link rel="stylesheet" href="/stylesheet/login.css">
    <link rel="icon" type="image/x-icon" href="./assets/imgs/logo.sbd.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Khula:wght@300&family=M+PLUS+1p:wght@100;300&family=Prata&display=swap" rel="stylesheet"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Second Blind Date</title>
</head>
<body>
    <!--Navbar-->
   {{> nav }}
    <!--main content-->
   {{{body}}}
</body>
<script src="/public/javascript/login.js"></script>
<script src="/public/javascript/cards.js"></script>
<script src="https://kit.fontawesome.com/2d9e8320eb.js" crossorigin="anonymous"></script>
</html>