<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2nd Blind Date</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/question.css">
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">2nd Blind Date</a>
      </h1>
     <nav>
 
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
   <button id="logout">logout</button>
  </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
   
  </div>
   <script src="/javascript/login.js"></script>
  <script src="/javascript/logout.js"></script>
  
</body>

</html>