.matches-cont{
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 40%;
    margin-top: 10%;
    margin: 10% auto 0 auto;
    border-radius: 20px;
    background-color: rgb(76, 71, 71);
    height: 500px;
}

.matches-cont h2{
    font-size: 30px;
    padding-top: 20px;
    
    
}


.line{
    background-color:rgb(160, 151, 151);
    width: 100%;
    height: 1px;
    margin: 5px 0;
}
.match-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.message-box{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}

.message-box p{
    font-size: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
}

.match-box a{
    font-size: 20px;
    padding-right: 9px;
}

.fa-heart{
   
    font-size: 25px;
}

.fa-message{
    font-size: 15px;
    padding-left: 8px;
    color: black;
}

a{
    color: #fff;
}


@media (max-width: 913px){
   .matches-cont{
       margin-top: 40%;
       width: 80%;
   }
}
