*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-style: var(--general);
    background: url(/assets/imgs/backgroundBlurred.png) no-repeat center center fixed; 
}
/*Containers*/
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.split {
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46, 0.1);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


#link-page{
    padding-top: 80px;
}

#link-page a{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #eb2249, #f45c43);
    padding: 7px 17px;
    border-radius: 10px;
}

#link-page a:hover{
    background: linear-gradient(to right, #f1375c, #ef6e5a);
}


.centered{
    z-index: 2;
}
.main {
    left: 0;
    color: #fff;
    text-align: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    width: 700px;
    height: 600px;
}

.right:before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.sub-title h2{
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.sub-title h3{
    color:rgb(199, 194, 194)
}


/*Form*/
.title img{
    padding-top: 20px;
    width: 100px;
}
.title h1{
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    color: #000000;
}

.form-box{
    color: #fff;
}

.form-box input[type="email"], input[type="password"],input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: #333 1px solid;
    padding-top: 20px;
    font-size: 14px;
    outline: none;
   color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}

.form-input:active{
    background-color: transparent;
    color: #fff;
}
/*Button*/
#proceed-btn{
    padding-top: 40px;
}
#proceed{
    background-color: transparent;
    border: #000000 1px solid;
    border-radius: 50px;
    color: #000000;
    font-size: 17px;
    padding: 5px 25px;
}

#proceed:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}


/*Link*/
.link a{
    text-decoration: none;
    color: #CB2926;
}

.link a:hover{
    color: #d06664
}


/*Media quesries*/
@media (max-width: 913px){
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .title h1{
        font-size: 20px;
        
    }

    .centered-img{
        background-image: none;
    }
    .right {
        left: 0;
        width: 100%;
    }
    .sub-title h2{
        font-size: 20px;
        padding-top: 30px;
    }
    .sub-title h3{
        font-size: 16px;
        padding-bottom: 70px;
    }
    #login-submit{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .form-box input[type="email"], input[type="password"]{
            font-size: 18px;
        }
    
    .form-box{
        margin: 0;
    }
  }



.choices{
    display: grid;
    height: 200px;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-top: 6px;
}

.choices button{
    background: linear-gradient(to right, #eb2249, #f45c43);
    border: none;
    padding: 4px 12px;
    color: #fff;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
}

.questions-title{
    font-family: 'Prata', serif;
}

.choices button:hover{
    background: linear-gradient(to right, #f1375c, #ef6e5a);
}

.hide{
    display: none;
}

@media (max-width: 913px){
    .main{
        width: 80%;
    }

    #proceed-btn{
        padding-top: 18px;

    }

    #proceed{
        font-size: 12px;
    }
        
    .title h1{
        font-size: 19px;
        letter-spacing: 3px;
    }
}
