 <main>
        <div class="container">
            <!--Filter users-->
            <div id="search-container">
                <h2 class="sub-title">Filter users</h2>
                <p class="search-title">Search users that matches what you are looking for.</p>
                <div id="error-message"></div>
                <form class="search-form">
                    <input type="text"  id="filter-users" class="filter-input">
                    <button type="button" id="search-btn" class="search-btn"><i class="fa-solid fa-magnifying-glass" ></i></button>
                </form>
            </div>

            <!--Users boxes-->
            <div id="box-1" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">SarahLohan12</h3>
                    <div class="user-info">
                        <p>23</p>
                    </div>

                    <div class="user-phrase">
                        <p>I love the geek world, I love pets and I want someone nerd as I am.</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn1" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="./user1.html" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 


            <div id="box-2" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">GabrielJordan</h3>
                    <div class="user-info">
                        <p>35</p>
                    </div>

                    <div class="user-phrase">
                        <p>I will make you laugh all the time and be with you in all the hard moments. </p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn2" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 

            <div id="box-3" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">AshelyBenson34</h3>
                    <div class="user-info">
                        <p>25</p>
                    </div>

                    <div class="user-phrase">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dicta suscipit molestias blanditiis!</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn3" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 

            <div id="box-4" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">JohnMayerrT</h3>
                    <div class="user-info">
                        <p>40</p>
                    </div>

                    <div class="user-phrase">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet maiores nulla, laborum quaerat dicta quasi.</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn4" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 

            <div id="box-5" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">Michelle3Wins</h3>
                    <div class="user-info">
                        <p>35</p>
                    </div>

                    <div class="user-phrase">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nostrum dicta omnis distinctio sapiente! Consequatur.</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn5" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 


            <div id="box-6" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">RafaelaMonte19</h3>
                    <div class="user-info">
                        <p>19</p>
                    </div>

                    <div class="user-phrase">
                        <p>Lorem ipsum dolor adipisicing elit. Amet maiores nulla, laborum quaerat dicta quasi.</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn6" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div> 


            <div id="box-7" class="boxes">
                <!--Image-->
                    <div class="img-container">
                        <img src="./public/assets/imgs/blinddateicon1.jpg">
                    </div>
                <!--Informations-->
                 <div class="sub-box">
                    <h3 class="user-name">LucasGraham</h3>
                    <div class="user-info">
                        <p>42</p>
                    </div>

                    <div class="user-phrase">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, eligendi!</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="btn-box">
                    <button id="delete-btn7" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <a href="#" id="profile-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div> 
        </div>
</main>