<ol class="user-list">
  <li>
    
      <div class="meta">
        {{email}} by {{user.username}} check
        
        <a href="/user/{{id}}"> user profile(s)</a>
      </div>
    </article>
  </li>
</ol>