<main>
       <div class="matches-cont">
           <h2> Your matches:</h2>
                <div class="match-box">
                    </h3><a href="user1.html">SarahLohan12</a></h3>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="message-box">
                    <p>MESSAGE</p>
                    <i class="fa-solid fa-message"></i>
               </div>
                
                <div class="line"></div>
       </div>
</main>